<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Sprint</title>
  <style media="screen">
    .container {
      padding-right: auto;
      padding-left: 45px;
      margin-right: auto;
      margin-left: auto;
    }
  </style>
</head>

<body>
  <div class="wrapper container">
    <nav class="col-md-2">
      <a ng-href="http://localhost:8080/common/home#!/createIssue/{{sprintId}}"><img ng-src="/images/createProject.ico" width="60" height="60"> Issue </a>
    </nav>
    <div class="alert alert-info">
      <div class="container">
        <nav class="col-md-4">
        </nav>
        <nav class="col-md-8">
          <h3>
           <strong>Issue List</strong>
        </h3>
        </nav>
      </div>
    </div>

    <form autocomplete="off" th:action="@{/deleteSprint}" method="post" class="form-horizontal" role="form" enctype="multipart/form-data">
      <input type="hidden" value="{{sprintId}}" name="sprintId" />
      <div class="form-group">
        <div class="col-sm-9">
          <button type="submit" class="btn btn-primary">Delete Sprint</button>
        </div>
      </div>
    </form>

    <table class="kffeWc">
      <thead class="iccVIQ">
        <tr>
          <th width="250" class="geZoUn"><span>Name</span></th>
          <th width="250" class="geZoUn"><span>Type</span></th>
          <th width="650" class="bKZlcx"><span>Summary</span></th>
          <th width="200" class="dZlBnq"><span>Priority</span></th>
          <th width="250" class="dZlBnq"><span>Status</span></th>
        </tr>
      </thead>
      <div ng:if="!issues.length> 0">
        <strong>Still there are no issues for the sprint</strong>
      </div>
      <tbody>
        <tr class="ewoyXV" ng-repeat="issue in issues | orderBy:'priority'">
          <td width="250" class="kUfcsh"><span class="gGsHVf"> <a
              ng-href="http://localhost:8080/common/home#!/issueView/{{issue.id}}">
              <img ng-src="{{issue.imgUrl}}" width="60" height="60"> {{issue.name}}
            </a>
          </span></td>
          <td width="650" class="drqBbD"><span class="fuVjLH">{{issue.type}}</span>
          </td>
          <td width="650" class="drqBbD"><span class="fuVjLH">{{issue.summary}}</span>
          </td>
          <td width="250" class="kqXqNO"><span class="jPYEPF"></span> <span>{{issue.priority}}</span>
          </td>
          <td width="250" class="kqXqNO"><span>{{issue.status}}</span></td>
        </tr>
      </tbody>
    </table>
    <div class="navbar-fixed-bottom">
      <div class="container">
        <div class="row">
          <button ng-if="isPrevDisabled" class="btn col-xs-6" disabled="disabled">Prev</button>
          <button ng-if="!isPrevDisabled" class="btn-primary btn col-xs-6" ng-click="goToPrevPage()">Prev</button>
          <button ng-if="isNextDisabled" class="btn col-xs-6" disabled="disabled">Next</button>
          <button ng-if="!isNextDisabled" class="btn-primary btn col-xs-6" ng-click="goToNextPage()">Next</button>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
