<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>JIRA Admin Page</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
	<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
	<script src="/bower_components/angular/angular.js"></script>
	<script src="/bower_components/angular-route/angular-route.js"></script>
	<script src="/js/services.js"></script>
	<script src="/js/controllers.js"></script>
	<script src="/js/app.js"></script>
</head>

<body ng-app="jiraProject">
	<div class="container">

		<form th:action="@{/logout}" method="get">
			<button class="btn btn-md btn-danger btn-block" name="registration" type="Submit">Logout</button>
		</form>

		<div class="panel-group" style="margin-top: 10px">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<span th:utext="${userName}"></span>
				</div>

				<p class="admin-message-text text-center" th:utext="${adminMessage}"></p>
			</div>
		</div>
		<div ng-view>

		</div>
	</div>
</body>

</html>
