<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>JIRA</title>
  <link rel="stylesheet" href="/css/admin_home.css">
</head>

<body>
  <label>Search: <input ng-model="searchText"></label>
  <table class="kffeWc">
    <thead class="iccVIQ">
      <tr>
        <th width="200" class="geZoUn"><span>Name</span></th>
        <th width="15" class="bKZlcx"><span>Key</span></th>
        <th class="dZlBnq"><span>Type</span></th>
        <th class="dZlBnq"><span>Owner</span></th>
        <th class="dZlBnq"><span>Category</span></th>
        <th class="lbcrZf"><span>URL</span></th>
      </tr>
    </thead>
    <tbody>
      <tr class="ewoyXV" ng-repeat="project in projects | filter:searchText">
        <td width="200" class="kUfcsh"><span class="gGsHVf"> <img
						ng-src="{{project.imgurl}}" width="50" height="50"
						ng-alt="{{project.name}}"> <a href="#">{{project.name}}</a>
				</span></td>
        <td width="15" class="drqBbD"><span class="fuVjLH">{{project.key}}</span>
        </td>
        <td class="kqXqNO"><span class="jPYEPF"></span> <span>{{project.key}}</span>
        </td>
        <td class="kqXqNO"><span>{{project.owner}}</span></td>
        <td class="kqXqNO"><span>{{project.category}}</span></td>
        <td class="kqXqNO"><span>{{project.url}}</span></td>

      </tr>

    </tbody>

  </table>
  <div class="row">
    <button ng-if="isPrevDisabled" class="btn col-xs-6" disabled="disabled">Prev</button>
    <button ng-if="!isPrevDisabled" class="btn col-xs-6" ng-click="goToPrevPage()">Prev</button>
    <button ng-if="isNextDisabled" class="btn col-xs-6" disabled="disabled">Next</button>
    <button ng-if="!isNextDisabled" class="btn col-xs-6" ng-click="goToNextPage()">Next</button>
  </div>

</body>

</html>
